h1 {
  text-decoration: underline;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url("images/tree-outline.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: #f4f4f4; /* Fallback color */
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  margin-right: 20px;
}

header nav a {
  color: #fff;
  text-decoration: none;
}

header nav a.active {
  font-weight: bold;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Semi-transparent background to make text readable */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.donate-button {
  display: inline-block;
  background-color: #0070ba;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member {
  margin: 20px;
  text-align: center;
}

.member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.member h3 {
  margin-top: 10px;
}
